<!-- src/main/resources/templates/fragments/head.html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Default Title</title>

    <!-- Include your CSS files here -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Include your JavaScript files here -->
    <script>
        (function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.head.getElementsByTagName('script')[0]);})(
            'cwr',
            'eef4b9f4-79cc-4d5a-bf39-86b62513a395',
            '1.0.0',
            'us-east-1',
            'https://client.rum.us-east-1.amazonaws.com/1.18.0/cwr.js',
            {
                sessionSampleRate: 1,
                identityPoolId: "us-east-1:60e31436-af5a-4565-97df-8f33081ea4ed",
                endpoint: "https://dataplane.rum.us-east-1.amazonaws.com",
                telemetries: ["performance","errors","http"],
                allowCookies: true,
                enableXRay: false
            }
        );
    </script>
</head>