<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<a href="/cpu-crash">Simulate Crash CPU</a>
<a href="/memory-crash">Simulate Crash RAM</a>
<a href="/books/new">Create New Book</a>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publishedDate}"></td>
        <td>
            <a th:href="@{/books/{id}/edit(id=${book.id})}">Edit</a>
            <a th:href="@{/books/{id}/delete(id=${book.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
