<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Form</title>
</head>
<body>
<h1 th:text="${book.id != null ? 'Edit Book' : 'Create New Book'}"></h1>
<form th:action="@{/books}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Title:</label>
        <input type="text" th:field="*{title}">
    </div>
    <div>
        <label>Author:</label>
        <input type="text" th:field="*{author}">
    </div>
    <div>
        <label>Published Date:</label>
        <input type="text" th:field="*{publishedDate}">
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
<a href="/books">Back to Book List</a>
</body>
</html>
